geocoder
google
python-google-places
geolocation-python
plotly
cufflinks
oauth2
gspread
oauth2client
xgboost
dj-database-url
sklearn
numpy
scipy
sklearn
bs4
matplotlib
seaborn
statsmodels
tensorflow
pyqt5
mistune>=2.0.3 # not directly required, pinned by Snyk to avoid a vulnerability