geocoder
google
python-google-places
geolocation-python
plotly
cufflinks
oauth2
gspread
oauth2client
xgboost
dj-database-url
sklearn
numpy
scipy
sklearn
bs4
matplotlib
seaborn
statsmodels
tensorflow
pyqt5
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability