geocoder
google
python-google-places
geolocation-python
plotly
cufflinks
oauth2
gspread
oauth2client
xgboost
dj-database-url
sklearn
numpy
scipy
sklearn
bs4
matplotlib
seaborn
statsmodels
tensorflow
pyqt5
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability